
mat-tab-group{
    width:100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    overflow-x: hidden;
}

.skill-input{
    flex: 1;
}

.remove-btn{
    height: 45px;
    margin-top: -5px;
}


/* .fullname.mat-mdc-input-element{
    color: green;
    font-weight: bold;
} */

.fullname{
    color: rgb(96, 155, 96) !important;
    font-weight: bold !important;
}   



